@page "/testLink"

<h3>Welcome to the most inane and ridiculous Blazor application in the world! </h3>

<p>We are going to play a game called 21. We are going to start by passing a number to a child component. We are going to pass the number 10. </p>

<p>Why 10?  Because all we want to do is test a couple of things. We want to pass a variable to a child component then play with the DOM just a little.</p>

<MyComp counts="10" showButton="true" />





